
@{
    ViewBag.Title = "Index";
}

<h2>API Methods</h2>

<ul>
    <li>Consumption - current campus energy consumption</li>
    <li>Intensity - current energy intensity</li>
    <li>
        Trend - 1 week trend of various data (Default: Electric_Power)
        URL parameters:
        <ul>
            <li><b>name</b>: name of the dataset to display trends for</li>
        </ul>
    </li>
</ul>